* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ffffff; */
  /* color: #000000; */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

h6 {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}

section {
  margin: 2rem 0;
}
